_site
.bundle
.DS_store
.idea
.jekyll-cache
.jekyll-metadata
.ruby-version
.sass-cache
.tweet-cache
.venv
assets/libs/
assets/rendercv/rendercv_output/*.typ
Gemfile.lock
node_modules/
vendorassets/video/tutorial_al_folio.mp4
assets/img/prof_pic_color.png

# Large/unnecessary template files
assets/video/
assets/audio/
assets/plotly/
readme_preview/
lighthouse_results/
assets/img/1.jpg
assets/img/2.jpg
assets/img/3.jpg
assets/img/4.jpg
assets/img/5.jpg
assets/img/6.jpg
assets/img/7.jpg
assets/img/8.jpg
assets/img/9.jpg
assets/img/10.jpg
assets/img/11.jpg
assets/img/12.jpg
assets/img/rhino.png
assets/img/template_error.png
assets/img/prof_pic.jpg
assets/img/book_covers/
assets/img/publication_preview/
/profilejpg.jpg
/resume_2026.pdf
